@font-face {
    font-family: 'main_font';
    src: url(OpenSans-VariableFont_wdth,wght.ttf);
    font-style: normal;
    
}

*{
    font-family: 'main_font';
}


body {
   
    background-image: url("/Images/Travel_site_background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 0;
    margin: 0;
  
}
.clickhere{
    font-size: 20px;
    background-color: rgb(0, 174, 255);
    border-radius: 50px;
    padding: 10px;
    border:none;
    text-align: center;
    
    width: auto;
    display: inline-block;
    

}

.clickhere:hover{
    background-color:  rgb(0, 200, 255);
    cursor: pointer;
    block-size: 7.6%;

}

.headertitle{
    font-size: 100px;
}
.FrontPage{
    height: 100vh;
    padding: 200px;
  
    
   
}
.button{
    display:flex;
    align-items: center;
    flex-direction: row;
    background-color: rgba(27, 27, 27, 0.167);
    backdrop-filter: blur(8px);
    color: black;
    text-decoration: none;
  
}
img{
    width: 30%;
}


.parent-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(27, 27, 27, 0.167);
    backdrop-filter: blur(8px);
    padding: 15px 40px;            
    width: 100%;
}

.card1{
    width: 180px;  
    height: 120px; 
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card2{
    width: 180px;  
    height: 120px; 
    display: flex;
    align-items: center;
    overflow: hidden;
}


.card1 img, .card2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.my_navbar{
    display: flex;
    gap: 50px;
    background-color:  rgba(128, 224, 169, 0.171);
}
.my_navbar:hover{
    background-color:rgba(128, 224, 169, 0.241);
    cursor: pointer;
    block-size: 7.6%;

}
a{
    text-decoration: none !important;
    color: rgba(18, 12, 0, 0.953);
    gap: 50;
    align-items: center;
}

.testLOL{
    text-decoration: none !important;
    color: rgba(18, 12, 0, 0.953);
}
